/* src/styles/globals.css */

/* Import Tailwind's base, components, and utilities styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add any custom global styles here */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}
